body
{
  font-family : "fantasy";
  background: url('./img/fond.webp');
  background-repeat:no-repeat;
  background-size: 120%;
  
}

.debut{
  background-color: white;
}

header{
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}

footer{
  background-color: white;
  text-align: center;
  opacity: 45%;
  margin-left: 10%;
  margin-right: 10%;
}
#nav
{
    font-size: 30px;
    padding : 0;
    margin : 0;
    text-align: center;
    
}
#nav li
{
    
    display : inline;
    list-style : none;
}
#nav a
{
    display : inline-block;
    margin : 0 30px;
    text-decoration:  none;
    color:#db7414;
}
h1
{
    text-align: center;
    color: #ecc427; 
    font: bold 52px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #481c5a, 
                 2px 2px #481c5a, 
                 3px 3px #481c5a;   
       
    
}
h1:hover
{
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px #481c5a, 
                 2px 2px #481c5a, 
                 3px 3px #481c5a, 
                 4px 4px #481c5a, 
                 5px 5px #481c5a, 
                 6px 6px #481c5a
}

#corpsText{
  display: grid; 
  grid-template-columns: repeat(1, 1fr); 
  grid-auto-rows: 100px; 
    background-image:url('./img/daVinciCloud-gris.png');
    
    background-color: white;
    height: 1100px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 35px;
    background-repeat: no-repeat;
    background-position: center;
}





#JC{
    padding: 25px;
    overflow:hidden;
    -webkit-border-radius:25px;
    -moz-border-radius:50px;
    border-radius:200px;
    float: left;
    position : absolute;
    top:50px;
    left:1350px;
  }

  .messageBot
{
  color : green;
}
.messageClient
{
  color : orange;
}
.messageChoixReponse
{
  color : blue;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 200px;
  height: 200px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top : 50%;
  left: 50%;
  margin-left: -80px;
  overflow:auto;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  position : fixed;
  top:50px;
  left:1458px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#titre{
  text-align: center;  
}

h2{
  text-decoration: underline;
}

#corpsText a{
    display: block;
    background-color: #DED6D4;
    width: 195px;
    text-align: center;
    border-radius: 5px;

}

#corpsText a:hover{
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}


#corpsText p{
  margin-left: 50px;
}

.Services{
  margin-left: 50px;
  

}

